// VAR: fonts
$font-h2-size: 24px;
$font-p-size: 14px;
$font-p-thin-size: 36px;
$font-icon-size: 20px;
$font-orange: #EF7F04;
$background-color: #F2F2F2;

// extands
%font-h2 {
    font: {
        size: $font-h2-size;
        family: 'Roboto';
        weight: bold;
        color: white;
    }
}

%font-h2-orange {
    font: {
        size: $font-h2-size;
        family: 'Roboto';
        weight: bold;
    }
    color: $font-orange;
}

%font-p {
    font: {
        size: $font-p-size;
        family: 'Roboto';
    }
    color: white;
}

%font-p-thin {
    font: {
        size: $font-p-thin-size;
        family: 'Roboto';
        weight: 100;
    }
    color: white;
}

%font-icon {
    font: {
        size: $font-icon-size;
        family: 'Oswald', serif;
        weight: bold;
        color: white;
    }
    text-transform: uppercase;
}