@charset "UTF-8";
.h2 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
}

.header__span-name {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  color: #EF7F04;
}

.header__p-reason_font-roboto, .workWayCompany, .section-company__p, .contact, .header__button_font-roboto, .button {
  font-size: 14px;
  font-family: "Roboto";
  color: white;
}

.header__p-slogan_font-thin {
  font-family: "Roboto";
  font-weight: 100;
  color: white;
}

.condition-list .li {
  font-size: 20px;
  font-family: "Oswald", serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header__button_font-roboto, .button {
  font-size: 16px;
  color: black;
}

@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .header__button_font-roboto, .button {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__button_font-roboto, .button {
    font-size: 14px;
  }
}
.button {
  text-decoration: none;
  color: black;
  border: none;
  width: 144px;
  height: 38px;
  outline: none;
  background-color: #fff;
}

.button_selected {
  background-color: #EF7F04;
  color: white;
  border-radius: 3px;
}

.button:hover {
  background-color: #EF7F04;
  color: white;
  border-radius: 3px;
}

.main {
  width: 1247px;
  margin-top: 122px;
  margin-inline: auto;
}

.section {
  width: 1247px;
  margin-top: 122px;
  background-color: white;
}

.section-company {
  height: 621px;
}

.section-company__h2 {
  padding-top: 50px;
  margin: auto;
}

.section-company__panel {
  margin: auto;
  padding-block: 30px;
}

.section-company__wrapper {
  display: flex;
  gap: 30px;
}

.section-company__wrapper-text {
  width: 352px;
  height: 365px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 164px;
}

.section-company__p {
  display: list-item;
  color: black;
}

.section-company__p::marker {
  color: #2e9aff;
}

.section-company__p-container > .section-company__p {
  color: black;
}

.section-way, .section-feedback {
  height: 500px;
  display: none;
}

.section-company__wrapper-video video {
  width: 562px;
}

.h2 {
  width: 143px;
}

.panel {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.section-cases {
  height: 389px;
}

.section-cases__h2 {
  margin-inline: auto;
  padding-top: 50px;
}

.section-cases__wrapper {
  display: flex;
  width: 1150px;
  margin-inline: auto;
  flex-direction: row;
  padding-top: 40px;
  gap: 42px;
}

.section-cases__wrapper-photo {
  display: flex;
  gap: 42px;
}

.workWayCompany {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 60px 30px 60px;
}

.workWayCompany p {
  color: #000;
}

.workWayCompany img {
  height: 200px;
  margin-right: auto;
}

.label {
  width: 80px;
  height: 38px;
  border-radius: 30px;
  background-color: #59B293;
  box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.5);
  padding-top: 6px;
  padding-left: 16px;
  font-size: 18px;
}

.step:nth-child(2) .label {
  background-color: #ebce4a;
}

.step:nth-child(3) .label {
  background-color: #458FDE;
}

.step:nth-child(4) .label {
  background-color: #EF7F04;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 240px;
}

.section-cases__photo {
  transition: opacity 0.5s ease; /* Анимация прозрачности */
  opacity: 1; /* По умолчанию слайды видны */
}

.section-cases__photo.hidden {
  opacity: 0; /* Слайд скрывается плавно */
}

.section-cases__wrapper-photo {
  position: relative; /* Для правильного позиционирования слайдов */
}

.section-cases__arrow {
  cursor: pointer; /* Указатель мыши для стрелок */
}

.footer {
  width: 100%;
  height: 548px;
  background-color: #2F2F51;
  margin-top: 122px;
}

.footer__credit {
  width: 100%;
  height: 402px;
  background-image: url("assets/scss/footer/footer__assets/bgi_credit.png");
  background-size: cover;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: flex-end;
}

.footer__credit-container {
  width: 388px;
  height: 346px;
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
}
.footer__credit-container .footer__h2 {
  margin: auto;
  padding-block: 60px;
  width: 260px;
}

.condition-list .li {
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  padding-left: 15px;
  padding-top: 15px;
  list-style-type: none;
  position: relative;
}
.condition-list li.li {
  color: black;
  text-transform: initial;
}
.condition-list li::before {
  content: ""; /* Псевдоэлемент для маркера */
  background-image: url("assets/scss/footer/footer__assets/marker.svg"); /* Подключаем SVG */
  background-size: contain; /* Обеспечиваем правильное отображение */
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  top: 50%; /* Выравниваем по центру строки */
  transform: translateY(calc(-50% + 8px)); /* Смещаем маркер вниз на 2px */
  width: 20px; /* Размер маркера */
  height: 20px; /* Размер маркера */
}

.footer__span {
  color: #EF7F04;
}

.contact {
  width: 1247px;
  height: 146px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.phone-wrapper {
  display: flex;
  gap: 10px;
}
.phone-wrapper .phone-span {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.mail-wrapper {
  display: flex;
  gap: 10px;
}

.copyright {
  cursor: pointer;
}

.h2 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
}

.header__span-name {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  color: #EF7F04;
}

.header__p-reason_font-roboto, .contact, .section-company__p, .workWayCompany, .header__button_font-roboto, .button {
  font-size: 14px;
  font-family: "Roboto";
  color: white;
}

.header__p-slogan_font-thin {
  font-family: "Roboto";
  font-weight: 100;
  color: white;
}

.condition-list .li {
  font-size: 20px;
  font-family: "Oswald", serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header__button_font-roboto, .button {
  font-size: 16px;
  color: black;
}

@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .header__button_font-roboto, .button {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__button_font-roboto, .button {
    font-size: 14px;
  }
}
.button {
  text-decoration: none;
  color: black;
  border: none;
  width: 144px;
  height: 38px;
  outline: none;
  background-color: #fff;
}

.button_selected {
  background-color: #EF7F04;
  color: white;
  border-radius: 3px;
}

.button:hover {
  background-color: #EF7F04;
  color: white;
  border-radius: 3px;
}

.main {
  width: 1247px;
  margin-top: 122px;
  margin-inline: auto;
}

.section {
  width: 1247px;
  margin-top: 122px;
  background-color: white;
}

.section-company {
  height: 621px;
}
.section-company__h2 {
  padding-top: 50px;
  margin: auto;
}
.section-company__panel {
  margin: auto;
  padding-block: 30px;
}
.section-company__wrapper {
  display: flex;
  gap: 30px;
}
.section-company__wrapper-text {
  width: 352px;
  height: 365px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 164px;
}
.section-company__p {
  display: list-item;
  color: black;
}
.section-company__p::marker {
  color: #2e9aff;
}
.section-company__p-container > .section-company__p {
  color: black;
}

.section-way, .section-feedback {
  height: 500px;
  display: none;
}

.section-company__wrapper-video video {
  width: 562px;
}

.h2 {
  width: 143px;
}

.panel {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.section-cases {
  height: 389px;
}
.section-cases__h2 {
  margin-inline: auto;
  padding-top: 50px;
}
.section-cases__wrapper {
  display: flex;
  width: 1150px;
  margin-inline: auto;
  flex-direction: row;
  padding-top: 40px;
  gap: 42px;
}
.section-cases__wrapper-photo {
  display: flex;
  gap: 42px;
}

.workWayCompany {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 60px 30px 60px;
}
.workWayCompany p {
  color: #000;
}
.workWayCompany img {
  height: 200px;
  margin-right: auto;
}

.label {
  width: 80px;
  height: 38px;
  border-radius: 30px;
  background-color: #59B293;
  box-shadow: 3px 4px 5px rgba(1, 1, 1, 0.5);
  padding-top: 6px;
  padding-left: 16px;
  font-size: 18px;
}

.step:nth-child(2) .label {
  background-color: #ebce4a;
}

.step:nth-child(3) .label {
  background-color: #458FDE;
}

.step:nth-child(4) .label {
  background-color: #EF7F04;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 240px;
}

.section-cases__photo {
  transition: opacity 0.5s ease; /* Анимация прозрачности */
  opacity: 1; /* По умолчанию слайды видны */
}

.section-cases__photo.hidden {
  opacity: 0; /* Слайд скрывается плавно */
}

.section-cases__wrapper-photo {
  position: relative; /* Для правильного позиционирования слайдов */
}

.section-cases__arrow {
  cursor: pointer; /* Указатель мыши для стрелок */
}

.h2 {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
}

.header__span-name {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: bold;
  color: #EF7F04;
}

.contact, .section-company__p, .workWayCompany, .header__p-reason_font-roboto, .header__button_font-roboto {
  font-size: 14px;
  font-family: "Roboto";
  color: white;
}

.header__p-slogan_font-thin {
  font-family: "Roboto";
  font-weight: 100;
  color: white;
}

.condition-list .li, .logo__span, .menu-list a, .menu-toggle {
  font-size: 20px;
  font-family: "Oswald", serif;
  font-weight: bold;
  text-transform: uppercase;
}

.header__button_font-roboto {
  font-size: 16px;
  color: black;
}

@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .header__button_font-roboto {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__button_font-roboto {
    font-size: 14px;
  }
}
/* Базовые стили */
.menu {
  position: relative;
  margin-left: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Меню скрыто по умолчанию */
}

.menu-list a {
  text-decoration: none;
  display: block;
  padding: 10px;
  background: #3B3A63;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
}

.menu .menu-list a:hover {
  background: #ddd;
  color: black;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Скрываем подменю */
  position: absolute;
  left: 100%;
  top: 0;
}

.menu-list li:hover > .submenu {
  display: block; /* Показываем подменю при наведении */
}

/* Кнопка для меню */
.menu-toggle {
  background: #EF7F04;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.menu-visible {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 601px) and (max-width: 756px) {
  .logo img {
    width: 60px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .logo img {
    width: 60px;
  }
}
@media only screen and (max-width: 400px) {
  .logo img {
    width: 60px;
  }
}
.logo__span {
  display: inline-block;
}

@media only screen and (min-width: 601px) and (max-width: 756px) {
  .logo__span {
    font-size: 16px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .logo__span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .logo__span {
    font-size: 14px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F2F2F2;
}

.header__wrapper {
  background-image: url("/assets/scss/header/header__assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 562px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__div {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__div {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .header__div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__div .header__point {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .header__div .header__point img {
    width: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .header__div .header__point {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .header__div .header__point img {
    width: 60px;
  }
}

@media only screen and (max-width: 400px) {
  .header__p-slogan_font-thin {
    font-size: 20px;
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__p-slogan_font-thin {
    font-size: 20px;
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__p-slogan_font-thin {
    font-size: 24px;
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .header__p-slogan_font-thin {
    font-size: 28px;
    text-wrap: wrap;
  }
}
@media only screen and (min-width: 1300px) {
  .header__p-slogan_font-thin {
    text-wrap: wrap;
    font-size: 36px;
  }
}

.header__p-reason_font-roboto {
  margin-top: 20px;
}

.header__nav {
  display: flex;
  width: 1274px;
  height: 72px;
  margin-inline: auto;
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__nav {
    width: 400px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__nav {
    width: 600px;
  }
}
@media only screen and (min-width: 757px) and (max-width: 1299px) {
  .header__nav {
    width: 756px;
  }
}
@media only screen and (max-width: 400px) {
  .header__nav {
    width: 270px;
  }
}

.header__div-buttons {
  display: flex;
  margin-left: auto;
  justify-content: center;
  gap: 53px;
}
@media only screen and (min-width: 601px) and (max-width: 756px) {
  .header__div-buttons {
    gap: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .header__div-buttons {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .header__div-buttons {
    display: none;
  }
}

.header__div-buttons a {
  text-decoration: none;
  color: #000;
}
.header__div-buttons button {
  border: none;
  outline: none;
  position: relative;
  padding-top: 4px;
}
.header__div-buttons button:hover {
  color: #000;
}
.header__div-buttons button::before {
  content: ""; /* Создаем псевдоэлемент */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Толщина линии */
  background-color: transparent; /* Изначально линия прозрачна */
  transition: background-color 0.3s linear; /* Добавляем плавный эффект */
}
.header__div-buttons button:hover::before {
  background-color: #EF7F04; /* При наведении меняем цвет */
}
.header__div-buttons button[placeholder]:holder {
  padding-top: 2px;
}

.menu {
  display: none;
}
@media only screen and (max-width: 400px) {
  .menu {
    display: flex;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .menu {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */