@use '../../variables' as variables;
@use '../../mixins' as mixins;

.feedbackCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %font-p;
    color: black;
}

.section-company__svg {
    width: 382px;
    padding-bottom: 30px;
}

embed.section-company__svg {
    @include mixins.screen-respond(handhelds) {
        padding-top: 30px;
        width: 250px;
    }
    @include mixins.screen-respond(phones) {
        padding-top: 30px;
        width: 220px;
    }
}