@use "../variables" as variables;
// button
.button {

    text-decoration: none;
    color: black;
    @extend %font-button;

    border: none;
    width: 144px;
    height: 38px;
    outline: none;
    background-color: #fff;
}

.button_selected {
    background-color: variables.$font-orange;
    color: white;
    border-radius: 3px;
}

.button:hover {
    background-color: variables.$font-orange;
    color: white;
    border-radius: 3px;
}