@use "components" as components;
@use "../variables" as variables;

.main {
    width: variables.$global-width;
    margin-top: variables.$global-margin;
    margin-inline: auto;
}

.section {
    width: variables.$global-width;
    margin-top: 122px;
    background-color: white;
}

.section-company {
    height: 621px;
    &__h2 {
        padding-top: 50px;
        margin: auto;
    }
    &__panel {
        margin: auto;
        padding-block: 30px;
    }
    &__wrapper {
        display: flex;
        gap: 30px;
        &-text {
            width: 352px;
            height: 365px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: 164px;

        }
    }

    &__p {
        display: list-item;
        &::marker {
            color: #2e9aff;
        }
        @extend %font-p;
        color: black;
    }

    &__p-container > &__p {
        color: black;
    }
}


.h2 {
    width: 143px;
    @extend %font-h2;
}

.panel {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.section-cases {
    height: 389px;
    &__h2 {
        margin-inline: auto;
        padding-top: 50px;
    }
    &__wrapper {
        display: flex;
        width: 1150px;
        margin-inline: auto;
        flex-direction: row;
        padding-top: 40px;
        gap: 42px;
        &-photo {
            display: flex;
            gap: 42px;
        }
    }
}



