@use "components" as components;
@use "../variables" as variables;
@use "../mixins" as mixins;
@use "../main/main__panel/main__panel";
@use "../main/main__cases/main__cases";

.main {
    width: variables.$global-width;
    margin-top: variables.$global-margin;
    margin-inline: auto;
}

main.main {
    @include mixins.screen-respond(large-medium-screens) {
        width: auto;
        margin-top: 10px;
    }
    @include mixins.screen-respond(medium-screens) {
        width: auto;
        margin-top: 10px;
    }
    @include mixins.screen-respond(handhelds) {
        width: auto;
        margin-top: 10px;
    }
    @include mixins.screen-respond(phones) {
        width: auto;
        margin-top: 10px;
    }
}

.section {
    width: variables.$global-width;
    background-color: white;
}

section.section {
    @include mixins.screen-respond(large-medium-screens) {
        width: mixins.$medium-screen - 20px;
        height: auto;
        margin-inline: auto;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 580px;
        height: auto;
        margin-inline: auto;
    }
    @include mixins.screen-respond(handhelds) {
        width: 580px;
        height: auto;
        margin-inline: auto;
    }
    @include mixins.screen-respond(phones) {
        width: 580px;
        height: auto;
        margin-inline: auto;
    }
}




