@use '../variables' as variables;
@use '../mixins' as mixins;

.header__wrapper-theme {
    width: 43px;
    height: 32px;
    background-color: transparent;

    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;

}

.theme_button {
    cursor: pointer;
}

.dark {
    background-color: transparent;
}