@use "../components" as components;
@use "../../variables" as variables;
@use "../../mixins" as mixins;

section.section-cases {
    @include mixins.screen-respond(large-medium-screens) {
        height: 650px;
        margin-top: 70px;
    }
    @include mixins.screen-respond(medium-screens) {
        height: 650px;
        margin-top: 70px;
    }
}

.section-cases__wrapper {
    display: flex;
    width: 1150px;
    margin-inline: auto;
    flex-direction: row;
    padding-top: 40px;
    gap: 42px;
    @include mixins.screen-respond(large-medium-screens) {
        width: 623px;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 623px;
    }
}

.section-cases__h2 {
    margin-inline: auto;
    padding-top: 50px;
}

.section-cases__wrapper-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding-bottom: 40px;
}

.section-cases__arrow {
    cursor: pointer; /* Указатель мыши для стрелок */
}