@use "../components" as components;
@use "../../variables" as variables;
@use "../../mixins" as mixins;

section.section-cases {
    margin-top: 122px;
    @include mixins.screen-respond(large-medium-screens) {
        height: 650px;
        margin-top: 70px;
    }
    @include mixins.screen-respond(medium-screens) {
        height: 650px;
        margin-top: 70px;
    }
    @include mixins.screen-respond(handhelds) {
        height: 650px;
        margin-top: 70px;
    }
    @include mixins.screen-respond(phones) {
        height: 650px;
        margin-top: 70px;
    }
}

.section-cases__wrapper {
    display: flex;
    width: 1150px;
    margin-inline: auto;
    flex-direction: row;
    padding-top: 40px;
    gap: 42px;
    @include mixins.screen-respond(phones) {
        gap: 20px;
    }
}

div.section-cases__wrapper {
    @include mixins.screen-respond(large-medium-screens) {
        width: 623px;
    }
    @include mixins.screen-respond(medium-screens) {
        width: 456px;
    }
    @include mixins.screen-respond(handhelds) {
        width: 286px;
    }
    @include mixins.screen-respond(phones) {
        width: 242px;
    }
}

.section-cases__h2 {
    margin-inline: auto;
    padding-top: 50px;
}

.section-cases__wrapper-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding-bottom: 40px;
}

div.section-cases__wrapper-photo {
    @include mixins.screen-respond(medium-screens) {
        img {
            width: 150px;
        }
        gap: 20px;
    }
    @include mixins.screen-respond(handhelds) {
        img {
            width: 150px;
        }
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    @include mixins.screen-respond(phones) {
        img {
            width: 150px;
        }
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
}

.section-cases__arrow {
    cursor: pointer; 
    padding-bottom: 40px;
}