@use "../variables" as variables;
@use "../mixins" as mixins;
@use "../main/main"; //для h2

.footer {
    width: 100%;
    height: 548px;
    background-color: variables.$background-color-footer;
    margin-top: 122px;
}

.footer__credit {
    width: 100%;
    height: 402px;
    background-image: url('assets/scss/footer/footer__assets/bgi_credit.png');
    background-size: cover;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: flex-end;
}

.footer__credit-container {
    width: 388px;
    height: 346px;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    box-shadow: 3px 4px 23px rgba(0, 0, 0, 25%);
    .footer__h2 {
        margin: auto;
        padding-block: 60px;
        width: 260px;
    }
}

.condition-list {
    .li {
        @extend %font-icon;
        font-size: 18px;
        font-weight: 500;
        margin-left: 30px;
        padding-left: 15px;
        padding-top: 15px;
        //list-style-image: url('scss/assets/footer/marker.svg');
        list-style-type: none;
        position: relative;
    }
    li.li {
        color: black;
        text-transform: initial;
    }
    li::before {
        content: ''; /* Псевдоэлемент для маркера */
    background-image: url('assets/scss/footer/footer__assets/marker.svg'); /* Подключаем SVG */
    background-size: contain; /* Обеспечиваем правильное отображение */
    background-repeat: no-repeat;
    position: absolute;
    left: -25px;
    top: 50%; /* Выравниваем по центру строки */
    transform: translateY(calc(-50% + 8px)); /* Смещаем маркер вниз на 2px */
    width: 20px; /* Размер маркера */
    height: 20px; /* Размер маркера */
    }
}

.footer__span {
    color: variables.$font-orange;
}

.contact {
    width: variables.$global-width;
    height: 146px;
    margin: auto;
    @extend %font-p;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phone-wrapper {
    display: flex;
    gap: 10px;
    .phone-span {
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
        letter-spacing: 0.7px;
    }
}

.mail-wrapper {
    display: flex;
    gap: 10px;
}

.copyright {
    cursor: pointer;
}